{% extends "base.html" %}

{% block title %}About the Project | Lobo Guará{% endblock %}

{% block content %}
<div class="container mt-4 about-container text-light">
    <div class="card bg-dark text-light mb-4">
        <div class="card-body">
            <h2>About the Project</h2>
            <p>Welcome to the <strong>Lobo Guará Project</strong>, a Cyber Threat Intelligence (CTI) platform designed to empower cybersecurity professionals with a comprehensive set of tools to enhance threat detection and response.</p>
            <p>Our platform offers a range of key features:</p>
            <ul>
                <li><strong>SSL Certificate Search:</strong> Search for domains and subdomains using real-time SSL certificate data from trusted authorities.</li>
                <li><strong>SSL Certificate Discovery:</strong> Monitor newly issued certificates for specific keywords to detect potential threats early.</li>
                <li><strong>Tracking Link:</strong> Generate links that collect information from an attacker's device when accessed.</li>
                <li><strong>Domain Scan:</strong> Perform WHOIS lookups and subdomain enumeration for a given domain.</li>
                <li><strong>Web Path Scan:</strong> Identify URIs and web paths on specific URLs.</li>
                <li><strong>URL Scan:</strong> Capture screenshots and mirrors of web pages, useful for reporting malicious sites.</li>
                <li><strong>URL Monitoring:</strong> Monitor inactive URLs and trigger scans when they become active, ideal for tracking malicious sites.</li>
                <li><strong>Data Leak Alerts:</strong> Stay informed with real-time alerts on data leaks from hacker forums and websites.</li>
                <li><strong>URL+User+Password Search:</strong> Search leaked credentials across hacker forums to identify exposed user data.</li>
                <li><strong>Threat Intelligence Feeds:</strong> Centralized threat intelligence news from various sources to keep you updated.</li>
            </ul>
            <p>We are committed to delivering value to the cybersecurity community, helping professionals improve their defenses against evolving cyber threats.</p>

            <h2>OpenCTI Connector</h2>
            <p>Currently, the project provides a connector for OpenCTI that allows importing monitored certificate domains into the OpenCTI platform as observables.</p>    
            <ul class="list-unstyled">
                <li><strong>Github:</strong> <a href="https://github.com/olivsec/opencti-connectors/tree/main/lobo-guara" target="_blank" class="text-success">Lobo Guará Connector</a></li>
            </ul>

            <h2>Lobo Guará API</h2> 
            <ul class="list-unstyled">
                <li><strong>Lobo Guará Project API Documentation:</strong> <a href="/docs/api.html" target="_blank" class="text-success">Documentation</a></li>
            </ul>

            <h3>Contact</h3>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> <a href="mailto:loboguara@olivsec.com.br" class="text-success">loboguara@olivsec.com.br</a></li>
                <li><strong>Lobo Guará Project Maintainer:</strong> <a href="https://www.linkedin.com/in/jonathan-cybersec" target="_blank" class="text-success">Jonathan Machado</a></li>
            </ul>
            
            <h3>Social Media</h3>
            <ul class="list-unstyled">
                <li><a href="https://x.com/loboguaraproj" target="_blank" class="text-success">X (Twitter)</a></li>
                <li><a href="https://www.linkedin.com/company/lobo-guara-project" target="_blank" class="text-success">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
